body {
  font-family: "Montserrat";

}
#title {
  background-color: #B4E197;
  color: #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";


}

p {
  color: #8f8f8f;
  margin-left: 10px;
}

.heading {
  padding-bottom:  15px;
  text-align: center;
}


.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;

}


/* Navigation Bar */
.navbar {
  padding-bottom: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
  color: #939B62;

}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.5rem
  font-family: "Montserrat-Light";
}


/* Title Image */
.title-image {
  width: 30%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;

}
.img-left {
  border-radius: 10px 15px 15px 10px;
  width: 30%;
  float: left;
  margin-right: 30px;
  margin-left: 15px;
  position: relative;
}
.img-right {
  border-radius: 10px 15px 15px 10px;
  width: 30%;
  float: right;
  margin-right: 30px;
  margin-left: 10px;
  position: relative;
  z-index: -1;
}
.work {
  text-align: center;
}
.solar {
  margin-left: 10px;
}
.color {
  color: #B4E197;
  padding-bottom: 15px;
}
.skills-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
/* Features Section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
.feature-box {
  text-align: center;
  padding: 5%;

}
.icon {
  color: #B4E197;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}
/* Testimonials Section */
#testimonials {
  text-align: center;
  background-color: #B4E197;
  color: #fff;
  padding-top: 10px;
}

.testimonial-image {
  width:  30%;
  border-radius: 100%;
  margin: 30px;
}

/* Press Section */
#press {
    background-color: #B4E197;
    text-align: center;
    padding-bottom: 4%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item {
  padding: 7% 15%;
}
.clients {
  color: #fff;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* CTA Section */
#cta {
  background-color: #B4E197;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}
.cta-heading {
  font-family: "Montserrat-Black";
  font-weight: 3.5rem;
  line-height: 1.5;
}

/* Footer Section */
#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 991px) {
  #title {
    text-align: center;
  }
  
}
@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }
}
